/* src/styles/global.css */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0; /* Remove margens padrão */
}

/* .App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
} */

.ingredientes {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 550px;
  height: 400px;
}

.select-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.select-group label {
  width: 80px;
  text-align: right;
}

.select-group select {
  width: 150px;
}
.select-objetivo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  width: 500px;
  justify-content: space-between;
}

select {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 1200px;
}

select:focus {
  border-color: #4caf50;
  outline: none;
}

select:hover {
  border-color: #ffffffd8;
}

option {
  padding: 10px;
}

#button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  text-align: center;
}

#button:hover {
  transform: translateY(-2px);
}

#button:active {
  transform: translateY(0);
}

label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color:#32CD32; 
  z-index: 1000;
  height: 80px;
  padding: 5px 40px;
}

 #img_logo_principal {
  max-width: 250px;
  margin-top: -65px; 
  /* padding: 0px 100px; */
 }

.lista {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.lista li {
  margin: 0 15px;
}

.lista li a {
  text-decoration: none; 
  color: white; 
  padding: 15px 55px; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
  font-size: 16px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.lista li a:hover {
  background-color: #ffffff;
  color: #000000; 
}

#img_baner {
  
 }

 .banner { 
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding-left: 20px; 
  padding-right: 20px; 
 }