

#img_logo_principal {
    max-width: 250px;
    margin-top: -65px; 
   }
   .lista_resposta {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  
  .lista_resposta li a {
    text-decoration: none; 
    color: white; 
    padding: 15px 55px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  .lista_resposta li a:hover {
    background-color: #ffffff;
    color: #000000; 
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  .bodyClass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    padding: 200px;
  }
  
  .custom-table td {
    padding: 7px; 
    table {
      border-collapse: collapse;
      width: 70%;
      border-spacing: 0;
      font-family: 'Roboto', sans-serif;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      font-size: 14px;
      text-align: center
      
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    th {
      font-weight: bold;
      background-color: #f2f2f2;
      
    }
    
    .bodyClass {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .custom-table td {
      padding: 7px; 
      text-align: center;
    }
    
    .custom-table {
      margin-bottom: 80px;
    }
  }
  
  .custom-table {
    margin-bottom: 80px;
  }
  
#label-info{
  text-align: center;
}
  


